<html xmlns:th="http://www.thymeleaf.org" th:fragment="navbar">
<link rel="stylesheet" href="/css/navbar.css">
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #106cfc;">
    <img src="/images/logo.png" width="65" height="65" alt="Logo"
         style="color: white !important; border-radius: 10px">
    <a class="navbar-brand" href="#">
        BON
    </a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">Commision</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Documents</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Notification</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Transaction</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Users</a>
        </li>
    </ul>
    <div class="d-flex align-items-center">
        <a href="#" class="mr-3"><i class="fas fa-bell"></i></a>
        <a href="#" class="mr-3"><i class="fas fa-user-circle"></i></a>
    </div>
</nav>



