<html xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
<footer class="bg-light text-center text-lg-start mt-auto pt-4 pb-4" style="margin-left: 250px; height: auto">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4">
                <h6>Company</h6>
                <ul class="list-unstyled mb-0">
                    <li><a href="#" class="text-dark">About Us</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h6>Contact & Help</h6>
                <ul class="list-unstyled mb-0">
                    <li><a href="#" class="text-dark">F.A.Q.</a></li>
                    <li><a href="#" class="text-dark">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h6>Legal</h6>
                <ul class="list-unstyled mb-0">
                    <li><a href="#" class="text-dark">Terms</a></li>
                    <li><a href="#" class="text-dark">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h6>Apps & Reviews</h6>
                <p>Excellent <span class="text-success">★★★★★</span> (7,562 reviews)</p>
            </div>
        </div>
    </div>
</footer>


