<html xmlns:th="http://www.thymeleaf.org" th:fragment="content">
<link rel="stylesheet" href="/css/home-content.css">
<div class="container mt-4">
    <!-- Thanh tìm kiếm -->
    <div class="row mb-4">
        <div class="col-12">
            <form action="/user/search" method="get">
                <div class="input-group w-75">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="search-icon"><i class="fas fa-search"></i></span>
                    </div>
                    <input type="text" name="query" class="form-control w-75" placeholder="Search for documents..."
                           style="font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                </div>
            </form>
        </div>
    </div>

    <!-- Tài liệu đã xem gần đây -->
    <div class="row mb-4">
        <div class="col-12 d-flex justify-content-between align-items-center">
            <h4>Recently Viewed Documents</h4>
            <a href="/user/recent-documents" class="btn btn-outline-primary">More</a>
        </div>
        <div class="d-flex flex-wrap">
            <!-- Thymeleaf loop for recent documents -->
            <div class="card mr-3 mb-3" style="width: 18rem;" th:each="doc : ${recentDocuments}">
                <img th:src="'/uploads/' +${doc.background}" alt="Document Thumbnail">
                <div class="card-body">
                    <h5 class="card-title" th:text="${doc.name}"></h5>
                    <p class="card-text">
                        Author: <span th:text="${doc.owner.name}"></span><br>
                        Views: <span th:text="${doc.views}"></span><br>
                        Uploaded: <span th:text="${doc.dateUploaded}"></span>
                    </p>
                    <a th:href="@{/user/view-detail/{id}(id=${doc.docId})}" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Tài liệu được đề xuất -->
    <div class="row mb-4">
        <div class="col-12 d-flex justify-content-between align-items-center">
            <h4>Recommended Documents</h4>
            <a href="/user/recommended-documents" class="btn btn-outline-primary">More</a>
        </div>
        <div class="d-flex flex-wrap">
            <!-- Thymeleaf loop for recommended documents -->
            <div class="card mr-3 mb-3" style="width: 18rem;" th:each="doc : ${recommendedDocuments}">
                <img th:src="'/uploads/' +${doc.background}" alt="Document Thumbnail">
                <div class="card-body">
                    <h5 class="card-title" th:text="${doc.name}"></h5>
                    <p class="card-text">
                        Author: <span th:text="${doc.owner.name}"></span><br>
                        Views: <span th:text="${doc.views}"></span><br>
                        Uploaded: <span th:text="${doc.dateUploaded}"></span>
                    </p>
                    <a th:href="@{/user/view-detail/{id}(id=${doc.docId})}" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Thông tin thống kê trong tháng -->
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card p-3">
                <h6>You've uploaded this month:</h6>
                <p th:text="${documentsUploadedThisMonth} + ' documents'"></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3">
                <h6>You've earned this month:</h6>
                <p th:text="${commission} + ' $'"></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3">
                <h6>Followers increased this month:</h6>
                <p th:text="${newFollowers} + ' people'"></p>
            </div>
        </div>
    </div>
</div>
</html>
