<html xmlns:th="http://www.thymeleaf.org" th:fragment="content">
<link rel="stylesheet" href="/css/my-documents-content.css">
<div class="container mt-4">
    <!-- Thanh tìm kiếm -->
    <div class="row mb-4">
        <div class="col-12">
            <form action="/user/search" method="get">
                <div class="input-group w-75">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="search-icon"><i class="fas fa-search"></i></span>
                    </div>
                    <input type="text" name="query" class="form-control w-75" placeholder="Search for documents..."
                           style="font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                </div>
            </form>
        </div>
    </div>
    <div class="documents-container">
        <div th:each="document : ${myDocuments}" class="document-card">
            <img th:src="'/uploads/' +${document.background}" alt="Document Thumbnail">
            <h5 th:text="${document.name}">Document Title</h5>
            <p class="card-text">
                Author: <span th:text="${document.owner.name}">Author Name</span><br>
                Views: <span th:text="${document.views}">0</span><br>
                Uploaded: <span th:text="${document.dateUploaded}">2024-01-01</span>
            </p>
            <div class="btn-group">
                <a th:href="@{/user/view-detail/{id}(id=${document.docId})}" class="btn btn-primary">View</a>
                <button class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>

    <!-- Phân trang -->
    <ul class="pagination">
        <li><a href="?page=1">1</a></li>
        <li><a href="?page=2">2</a></li>
        <li><a href="?page=3">3</a></li>
    </ul>
</div>


