<html xmlns:th="http://www.thymeleaf.org" th:fragment="content">
<link rel="stylesheet" href="/css/uni.css">
<div class="university-container">
    <!-- Tiêu đề -->
    <h3>At which university do you study?</h3>
    <p>Search for a university and find study material for it</p>

    <!-- Thanh tìm kiếm -->
    <div class="search-bar">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Type to start searching">
    </div>

    <!-- Danh sách các trường đại học phổ biến -->
    <div class="popular-universities">
        <!-- Dữ liệu mẫu -->
        <a href="/university/1" class="university-item">
            <i class="fas fa-university"></i> Học viện Báo chí và Tuyên truyền
        </a>
        <a href="/university/2" class="university-item">
            <i class="fas fa-university"></i> Học viện Ngoại giao Việt Nam
        </a>
        <a href="/university/3" class="university-item">
            <i class="fas fa-university"></i> Học viện Tài chính
        </a>
        <a href="/university/4" class="university-item">
            <i class="fas fa-university"></i> Học viện Công nghệ Bưu chính Viễn thông
        </a>
        <a href="/university/5" class="university-item">
            <i class="fas fa-university"></i> Học viện Ngân hàng
        </a>
        <a href="/university/6" class="university-item">
            <i class="fas fa-university"></i> International University – VNU-HCM
        </a>
    </div>
</div>
</html>